_site
.sass-cache
.jekyll-metadata
*.DS_Store
Gemfile.lock
assets/CV/cv_llenezet_2025.aux
assets/CV/cv_llenezet_2025.log
assets/CV/cv_llenezet_2025.fls
assets/CV/cv_llenezet_2025.fdb*
assets/CV/cv_llenezet_2025.bbl
assets/CV/cv_llenezet_2025.bcf
assets/CV/cv_llenezet_2025.blg
assets/CV/cv_llenezet_2025.out
assets/CV/cv_llenezet_2025.run.xml
