ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    color: #333;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
